body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    background-color: rgb(248, 218, 223);
    border: 2px pink;
  }
  
  .image-wrapper {
    flex: 1;
    background-position: left; /* Set the background image position to the left */
    height: 90vh;
    width: 40vh;
    overflow: hidden; /* Ensures image doesn't overflow */
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image fills the container */
  }
  
  .content-wrapper {
    flex: 0 0 300px; /* Set a fixed width for text content */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between sections */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    border: 1px solid #f33961;
    padding: 5px;
    font-size: 16px;
    flex: 1;
  }
  
  .search-bar button {
    background-color: #f74370;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .text-section {
    border: 1px solid #f33961;
    padding: 15px;
    margin-right: 150px;
    width: 700px;
  }
  
  .text-section h2 {
    margin-bottom: 10px;
  }